.dec-inc
	controlWidth = 1em
	display: inline-block
	position: relative
	padding: 0 controlWidth
	user-select: none

	&__control
		display: block
		position: absolute
		top: 0
		width: controlWidth
		height: 100%
		text-align: center
		cursor: pointer

		&::after
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

		&_disabled
			cursor: default

	&__control_type_dec
		left: 0

		&::after
			content: '￬'

	&__control_type_inc
		right: 0

		&::after
			content: '￪'

	&__value
		width: 1.2em
		font-size: inherit
		text-align: right

	// Example theme
	&_theme_example
		& ^[0]__value
			font-family: monospace

		& ^[0]__control
			&::after
				opacity: 0.5

			&_disabled
				&::after
					opacity: 0.25

			&:hover
				&::after
					opacity: 1

			&_disabled
				&:hover
					&::after
						opacity: 0.25

		& ^[0]__value
			width: 3em
