.dec-inc
	controlWidth = 1em
	display: inline-block
	position: relative
	padding: 0 controlWidth
	user-select: none

	&__dec
	&__inc
		display: block
		position: absolute
		top: 0
		width: controlWidth
		height: 100%
		text-align: center
		cursor: pointer

		&::after
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

	&__dec
		left: 0

		&::after
			content: '￬'

	&__inc
		right: 0

		&::after
			content: '￪'

	&__value
		width: 1.2em
		font-size: inherit
		text-align: right

	&_theme_example
		& ^[0]__value
			font-family: monospace

		& ^[0]__dec
		& ^[0]__inc
			&::after
				opacity: 0.5

			&:hover
				&::after
					opacity: 1

